body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
}

.container {
  background-color: #ffffff;
  padding: 362px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(255, 255, 255);
  width: 100%;
}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header h2 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.icon-button, .login-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.login-button {
  color: #3b82f6;
}

.form-group {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  color: #4b5563;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 4px;
  font-size: 14px;
  color: #374151;
}

.input-group {
  display: flex;
  align-items: center;
}

.show-button {
  margin-left: 8px;
  color: #3b82f6;
  background: none;
  border: none;
  cursor: pointer;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.checkbox-group input {
  margin-right: 8px;
}

.submit-button {
  width: 100%;
  background-color: #10b981;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.forgot-password-link {
  text-align: center;
  font-size: 14px;
  color: #3b82f6;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .container {
    padding: 20px;
    max-width: 90%;
  }

  .header h2 {
    font-size: 18px;
  }

  .form-group label, .checkbox-group label {
    font-size: 12px;
  }

  .submit-button, .show-button {
    font-size: 14px;
  }
}
